USE [master]
GO
/****** Object:  Database [online_superMarket_system]    Script Date: 11/7/2020 12:24:34 PM ******/
CREATE DATABASE [online_superMarket_system]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'online_superMarket_system', FILENAME = N'E:\sqlServerDBs\online_superMarket_system.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'online_superMarket_system_log', FILENAME = N'E:\sqlServerDBs\online_superMarket_system_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [online_superMarket_system].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [online_superMarket_system]
GO
/****** Object:  Table [dbo].[AddToCart]    Script Date: 11/7/2020 12:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AddToCart](
	[AddToCart_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id_] [int] NULL,
	[Product_ID] [int] NULL,
	[category_ID] [int] NOT NULL,
	[brand_ID] [int] NULL,
	[Product_name] [varchar](50) NOT NULL,
	[Product_disc] [varchar](100) NOT NULL,
	[Product_code] [int] NULL,
	[whole_sale_price] [int] NOT NULL,
	[retail_price] [int] NOT NULL,
	[stock] [int] NULL,
	[imgPath] [varchar](2000) NULL,
	[create_at] [datetime] NOT NULL,
	[update_at] [datetime] NULL,
	[is_active] [bit] NULL,
	[makeorder] [bit] NULL,
 CONSTRAINT [PK_AddToCart] PRIMARY KEY CLUSTERED 
(
	[AddToCart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 11/7/2020 12:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Brand](
	[brand_ID] [int] IDENTITY(1,1) NOT NULL,
	[brand_name] [varchar](50) NOT NULL,
	[brand_code] [int] NULL,
	[create_at] [datetime] NOT NULL,
	[update_at] [datetime] NULL,
	[is_active] [bit] NULL,
	[isDeleted] [bit] NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[brand_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Category]    Script Date: 11/7/2020 12:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category](
	[category_ID] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [varchar](50) NULL,
	[category_disc] [varchar](100) NOT NULL,
	[category_code] [varchar](50) NULL,
	[img_path] [varchar](2000) NULL,
	[create_at] [datetime] NOT NULL,
	[update_at] [datetime] NULL,
	[is_active] [bit] NULL,
	[isDeleted] [bit] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Discounts]    Script Date: 11/7/2020 12:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Discounts](
	[Discount_ID] [int] IDENTITY(1,1) NOT NULL,
	[Discount_Code] [varchar](11) NULL,
	[Product_ID] [int] NULL,
	[Category_ID] [int] NULL,
	[Brand_Code] [int] NULL,
	[Upto_percent] [int] NULL,
	[Upto_RS] [int] NULL,
	[Get_One_By_One] [bit] NULL,
	[create_at] [datetime] NULL,
	[update_at] [datetime] NULL,
	[is_active] [bit] NULL,
 CONSTRAINT [PK_Discounts] PRIMARY KEY CLUSTERED 
(
	[Discount_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Location]    Script Date: 11/7/2020 12:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Location](
	[Location_ID] [int] IDENTITY(1,1) NOT NULL,
	[Store_Code] [varchar](100) NULL,
	[Location] [varchar](50) NULL,
	[Create_at] [datetime] NULL,
	[Update_at] [datetime] NULL,
	[is_active] [bit] NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[Location_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[orders]    Script Date: 11/7/2020 12:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[orders](
	[orderID] [int] IDENTITY(1,1) NOT NULL,
	[venderid] [int] NULL,
	[categoryid] [int] NULL,
	[productsid] [int] NULL,
	[createAt] [datetime] NULL,
	[productsAmount] [bigint] NULL,
	[prductsname] [varchar](50) NULL,
	[categoryname] [varchar](50) NULL,
	[venderoname] [varchar](50) NULL,
	[customerid] [int] NULL,
	[customernam] [varchar](50) NULL,
	[isDispatch] [bit] NULL,
	[qty] [int] NULL,
 CONSTRAINT [PK_orders] PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Payement_Type]    Script Date: 11/7/2020 12:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Payement_Type](
	[Pay_Type_ID] [int] IDENTITY(1,1) NOT NULL,
	[Pay_Type] [varchar](10) NULL,
	[Create_at] [datetime] NULL,
	[Update_at] [datetime] NULL,
	[is_active] [bit] NULL,
 CONSTRAINT [PK_Payement_Type] PRIMARY KEY CLUSTERED 
(
	[Pay_Type_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Product]    Script Date: 11/7/2020 12:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[Product_ID] [int] IDENTITY(1,1) NOT NULL,
	[sellorID] [int] NULL,
	[sellorName] [varchar](50) NULL,
	[category_ID] [int] NOT NULL,
	[brand_ID] [int] NULL,
	[Product_name] [varchar](50) NOT NULL,
	[Product_disc] [varchar](100) NOT NULL,
	[Product_code] [int] NULL,
	[whole_sale_price] [int] NOT NULL,
	[retail_price] [int] NOT NULL,
	[stock] [int] NULL,
	[imgPath] [varchar](2000) NULL,
	[create_at] [datetime] NOT NULL,
	[update_at] [datetime] NULL,
	[is_active] [bit] NULL,
	[is_deleted] [bit] NULL,
 CONSTRAINT [PK_Product_1] PRIMARY KEY CLUSTERED 
(
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[statement]    Script Date: 11/7/2020 12:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[statement](
	[Stmt_ID] [int] IDENTITY(1,1) NOT NULL,
	[Pay_Type_ID] [int] NULL,
	[User_ID] [int] NULL,
	[Product_ID] [int] NULL,
	[Quantity] [int] NULL,
	[Amount] [int] NULL,
	[Create_AT] [datetime] NULL,
	[Update_At] [datetime] NULL,
	[is_Active] [bit] NULL,
 CONSTRAINT [PK_statement] PRIMARY KEY CLUSTERED 
(
	[Stmt_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[userRoles]    Script Date: 11/7/2020 12:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[userRoles](
	[role_ID] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [varchar](20) NULL,
 CONSTRAINT [PK_userRoles] PRIMARY KEY CLUSTERED 
(
	[role_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[users]    Script Date: 11/7/2020 12:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](50) NOT NULL,
	[last_name] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[City_ID] [int] NULL,
	[State_ID] [int] NULL,
	[Country_ID] [int] NULL,
	[Home_phone] [varchar](50) NULL,
	[Mobile] [varchar](50) NULL,
	[Credit_card_number] [bigint] NULL,
	[Credit_card_expiry] [bigint] NULL,
	[img_path] [varchar](1000) NULL,
	[role_ID] [int] NOT NULL,
	[create_at] [datetime] NULL,
	[update_at] [datetime] NULL,
	[is_active] [bit] NOT NULL,
	[Address] [varchar](255) NULL,
	[shopname] [varchar](50) NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[AddToCart] ON 

INSERT [dbo].[AddToCart] ([AddToCart_id], [user_id_], [Product_ID], [category_ID], [brand_ID], [Product_name], [Product_disc], [Product_code], [whole_sale_price], [retail_price], [stock], [imgPath], [create_at], [update_at], [is_active], [makeorder]) VALUES (39, 1, 10, 1056, 1004, N'vaslien', N'for  winter moisturizing lotion', NULL, 45, 45, 45, N'192916019.png', CAST(N'2019-11-27 20:29:16.020' AS DateTime), NULL, 1, 0)
INSERT [dbo].[AddToCart] ([AddToCart_id], [user_id_], [Product_ID], [category_ID], [brand_ID], [Product_name], [Product_disc], [Product_code], [whole_sale_price], [retail_price], [stock], [imgPath], [create_at], [update_at], [is_active], [makeorder]) VALUES (41, 1, 4, 1056, 1004, N'popcorn', N'new dis', NULL, 500, 750, 5, N'195156868.png', CAST(N'2019-12-02 21:51:56.887' AS DateTime), CAST(N'2019-12-02 21:51:56.887' AS DateTime), 1, 0)
INSERT [dbo].[AddToCart] ([AddToCart_id], [user_id_], [Product_ID], [category_ID], [brand_ID], [Product_name], [Product_disc], [Product_code], [whole_sale_price], [retail_price], [stock], [imgPath], [create_at], [update_at], [is_active], [makeorder]) VALUES (42, 1, 5, 1055, 1006, N'vaslien', N'for  winter moisturizing lotion', NULL, 45, 55, 6, N'193912921.png', CAST(N'2019-11-25 19:39:12.947' AS DateTime), NULL, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[AddToCart] OFF
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([brand_ID], [brand_name], [brand_code], [create_at], [update_at], [is_active], [isDeleted]) VALUES (1002, N'The Krogerwwwww 123', 0, CAST(N'2019-11-11 20:21:27.917' AS DateTime), CAST(N'2020-11-06 21:33:19.110' AS DateTime), 1, NULL)
INSERT [dbo].[Brand] ([brand_ID], [brand_name], [brand_code], [create_at], [update_at], [is_active], [isDeleted]) VALUES (1003, N'Albertsons', 0, CAST(N'2019-11-11 20:21:28.190' AS DateTime), NULL, 1, NULL)
INSERT [dbo].[Brand] ([brand_ID], [brand_name], [brand_code], [create_at], [update_at], [is_active], [isDeleted]) VALUES (1004, N'Royal Ahold Delhaize USA', 0, CAST(N'2019-11-11 20:21:28.447' AS DateTime), NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[Brand] OFF
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([category_ID], [category_name], [category_disc], [category_code], [img_path], [create_at], [update_at], [is_active], [isDeleted]) VALUES (1054, N'Branded Foods123', N'null', NULL, NULL, CAST(N'2019-11-11 20:16:08.560' AS DateTime), CAST(N'2020-11-06 21:33:01.917' AS DateTime), 1, 1)
INSERT [dbo].[Category] ([category_ID], [category_name], [category_disc], [category_code], [img_path], [create_at], [update_at], [is_active], [isDeleted]) VALUES (1055, N'Households', N'null', NULL, NULL, CAST(N'2019-11-27 21:39:14.723' AS DateTime), CAST(N'2019-11-27 22:08:29.117' AS DateTime), 1, NULL)
INSERT [dbo].[Category] ([category_ID], [category_name], [category_disc], [category_code], [img_path], [create_at], [update_at], [is_active], [isDeleted]) VALUES (1056, N'Veggies', N'null', NULL, NULL, CAST(N'2019-11-11 20:16:09.157' AS DateTime), NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[Discounts] ON 

INSERT [dbo].[Discounts] ([Discount_ID], [Discount_Code], [Product_ID], [Category_ID], [Brand_Code], [Upto_percent], [Upto_RS], [Get_One_By_One], [create_at], [update_at], [is_active]) VALUES (16, NULL, NULL, 1054, NULL, NULL, NULL, 1, CAST(N'2019-11-14 22:22:27.547' AS DateTime), NULL, 1)
INSERT [dbo].[Discounts] ([Discount_ID], [Discount_Code], [Product_ID], [Category_ID], [Brand_Code], [Upto_percent], [Upto_RS], [Get_One_By_One], [create_at], [update_at], [is_active]) VALUES (17, NULL, NULL, NULL, 1004, 10, NULL, 0, CAST(N'2019-11-14 22:22:48.930' AS DateTime), NULL, 1)
INSERT [dbo].[Discounts] ([Discount_ID], [Discount_Code], [Product_ID], [Category_ID], [Brand_Code], [Upto_percent], [Upto_RS], [Get_One_By_One], [create_at], [update_at], [is_active]) VALUES (19, NULL, 3, NULL, NULL, NULL, NULL, 1, CAST(N'2019-11-24 02:11:43.130' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[Discounts] OFF
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([orderID], [venderid], [categoryid], [productsid], [createAt], [productsAmount], [prductsname], [categoryname], [venderoname], [customerid], [customernam], [isDispatch], [qty]) VALUES (1, 2025, 1055, 5, CAST(N'2020-11-07 11:53:30.413' AS DateTime), 220, N'vaslien', N'Households', N'muhammadnomankhalid480@gmail.com', 2026, N'technicalghori@gmail.com', 0, 4)
INSERT [dbo].[orders] ([orderID], [venderid], [categoryid], [productsid], [createAt], [productsAmount], [prductsname], [categoryname], [venderoname], [customerid], [customernam], [isDispatch], [qty]) VALUES (2, 2025, 1056, 8, CAST(N'2020-11-07 11:53:32.000' AS DateTime), 135, N'egg111', N'Veggies', N'muhammadnomankhalid480@gmail.com', 2026, N'technicalghori@gmail.com', 0, 3)
INSERT [dbo].[orders] ([orderID], [venderid], [categoryid], [productsid], [createAt], [productsAmount], [prductsname], [categoryname], [venderoname], [customerid], [customernam], [isDispatch], [qty]) VALUES (3, 2025, 1055, 1013, CAST(N'2020-11-07 11:53:33.493' AS DateTime), 2000, N'cat food', N'Households', N'muhammadnomankhalid480@gmail.com', 2026, N'technicalghori@gmail.com', 0, 2)
SET IDENTITY_INSERT [dbo].[orders] OFF
SET IDENTITY_INSERT [dbo].[Payement_Type] ON 

INSERT [dbo].[Payement_Type] ([Pay_Type_ID], [Pay_Type], [Create_at], [Update_at], [is_active]) VALUES (1, N'cheque', NULL, NULL, 1)
INSERT [dbo].[Payement_Type] ([Pay_Type_ID], [Pay_Type], [Create_at], [Update_at], [is_active]) VALUES (2, N'cash', NULL, NULL, 1)
INSERT [dbo].[Payement_Type] ([Pay_Type_ID], [Pay_Type], [Create_at], [Update_at], [is_active]) VALUES (3, N'card', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Payement_Type] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Product_ID], [sellorID], [sellorName], [category_ID], [brand_ID], [Product_name], [Product_disc], [Product_code], [whole_sale_price], [retail_price], [stock], [imgPath], [create_at], [update_at], [is_active], [is_deleted]) VALUES (3, 2025, N'muhammadnomankhalid480@gmail.com', 1055, 1006, N'pepsi', N'ramdan offer', NULL, 51, 80, 8, N'190532344.png', CAST(N'2019-12-02 22:05:32.350' AS DateTime), CAST(N'2019-12-02 22:05:32.350' AS DateTime), 0, 0)
INSERT [dbo].[Product] ([Product_ID], [sellorID], [sellorName], [category_ID], [brand_ID], [Product_name], [Product_disc], [Product_code], [whole_sale_price], [retail_price], [stock], [imgPath], [create_at], [update_at], [is_active], [is_deleted]) VALUES (4, 2025, N'muhammadnomankhalid480@gmail.com', 1056, 1004, N'popcorn', N'new dis', NULL, 500, 750, 8, N'195156868.png', CAST(N'2019-12-02 21:51:56.887' AS DateTime), CAST(N'2019-12-02 21:51:56.887' AS DateTime), 0, 0)
INSERT [dbo].[Product] ([Product_ID], [sellorID], [sellorName], [category_ID], [brand_ID], [Product_name], [Product_disc], [Product_code], [whole_sale_price], [retail_price], [stock], [imgPath], [create_at], [update_at], [is_active], [is_deleted]) VALUES (5, 2025, N'muhammadnomankhalid480@gmail.com', 1055, 1006, N'vaslien', N'for  winter moisturizing lotion', NULL, 45, 55, 2, N'193912921.png', CAST(N'2019-11-25 19:39:12.947' AS DateTime), NULL, 1, 0)
SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[userRoles] ON 

INSERT [dbo].[userRoles] ([role_ID], [role_name]) VALUES (1, N'vendor')
INSERT [dbo].[userRoles] ([role_ID], [role_name]) VALUES (2, N' update')
INSERT [dbo].[userRoles] ([role_ID], [role_name]) VALUES (3, N'delete')
SET IDENTITY_INSERT [dbo].[userRoles] OFF
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([userID], [first_name], [last_name], [email], [password], [City_ID], [State_ID], [Country_ID], [Home_phone], [Mobile], [Credit_card_number], [Credit_card_expiry], [img_path], [role_ID], [create_at], [update_at], [is_active], [Address], [shopname]) VALUES (1, N'noman', N'khan', N'nhr146@gmail.com', N'admin123', NULL, NULL, NULL, NULL, N'03158684507', NULL, NULL, NULL, 1009, NULL, NULL, 1, NULL, NULL)
INSERT [dbo].[users] ([userID], [first_name], [last_name], [email], [password], [City_ID], [State_ID], [Country_ID], [Home_phone], [Mobile], [Credit_card_number], [Credit_card_expiry], [img_path], [role_ID], [create_at], [update_at], [is_active], [Address], [shopname]) VALUES (3, N'marin', N'khan', N'mairn@gmail.com', N'admin321', NULL, NULL, NULL, NULL, N'23432432432', NULL, NULL, NULL, 1009, NULL, NULL, 1, NULL, NULL)
INSERT [dbo].[users] ([userID], [first_name], [last_name], [email], [password], [City_ID], [State_ID], [Country_ID], [Home_phone], [Mobile], [Credit_card_number], [Credit_card_expiry], [img_path], [role_ID], [create_at], [update_at], [is_active], [Address], [shopname]) VALUES (4, N'noman', N'khan', N'online123@gmail.com', N'ljdflsj', NULL, NULL, NULL, NULL, N'334', 1234123, 6464, NULL, 4, CAST(N'2019-11-06 22:11:12.967' AS DateTime), NULL, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
ALTER TABLE [dbo].[Discounts]  WITH CHECK ADD  CONSTRAINT [FK_Discounts_Brand] FOREIGN KEY([Brand_Code])
REFERENCES [dbo].[Brand] ([brand_ID])
GO
ALTER TABLE [dbo].[Discounts] CHECK CONSTRAINT [FK_Discounts_Brand]
GO
ALTER TABLE [dbo].[Discounts]  WITH CHECK ADD  CONSTRAINT [FK_Discounts_Category] FOREIGN KEY([Category_ID])
REFERENCES [dbo].[Category] ([category_ID])
GO
ALTER TABLE [dbo].[Discounts] CHECK CONSTRAINT [FK_Discounts_Category]
GO
ALTER TABLE [dbo].[Discounts]  WITH CHECK ADD  CONSTRAINT [FK_Discounts_Product] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
GO
ALTER TABLE [dbo].[Discounts] CHECK CONSTRAINT [FK_Discounts_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Brand] FOREIGN KEY([brand_ID])
REFERENCES [dbo].[Brand] ([brand_ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Brand]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([category_ID])
REFERENCES [dbo].[Category] ([category_ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[statement]  WITH CHECK ADD  CONSTRAINT [FK_statement_Payement_Type] FOREIGN KEY([Pay_Type_ID])
REFERENCES [dbo].[Payement_Type] ([Pay_Type_ID])
GO
ALTER TABLE [dbo].[statement] CHECK CONSTRAINT [FK_statement_Payement_Type]
GO
ALTER TABLE [dbo].[statement]  WITH CHECK ADD  CONSTRAINT [FK_statement_Product] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
GO
ALTER TABLE [dbo].[statement] CHECK CONSTRAINT [FK_statement_Product]
GO
ALTER TABLE [dbo].[statement]  WITH CHECK ADD  CONSTRAINT [FK_statement_users] FOREIGN KEY([User_ID])
REFERENCES [dbo].[users] ([userID])
GO
ALTER TABLE [dbo].[statement] CHECK CONSTRAINT [FK_statement_users]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_userRoles] FOREIGN KEY([role_ID])
REFERENCES [dbo].[userRoles] ([role_ID])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_userRoles]
GO
/****** Object:  StoredProcedure [dbo].[ActiveProducts]    Script Date: 11/7/2020 12:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[ActiveProducts]
  (
   @id INTEGER 
  
 
    )
 
AS  
  
  
UPDATE  [Product]  SET  
[Product].is_active = 1
WHERE [Product].Product_ID  = @id


GO
/****** Object:  StoredProcedure [dbo].[ActiveVendor]    Script Date: 11/7/2020 12:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[ActiveVendor]
  (
   @id INTEGER 
  
 
    )
 
AS  
  
  
UPDATE  users  SET  
users.is_active = 1 
WHERE users.userID  = @id


GO
/****** Object:  StoredProcedure [dbo].[completeOrder]    Script Date: 11/7/2020 12:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[completeOrder]
(
   @vendrid INTEGER ,
   @orderid int
  
 
    )
 
AS  

update orders set isDispatch = 1 where venderid  = @vendrid and orderID = @orderid
GO
/****** Object:  StoredProcedure [dbo].[customerDetails]    Script Date: 11/7/2020 12:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  PROCEDURE [dbo].[customerDetails]
(
   @id INTEGER 
  
 
    )
 
AS  
select * from users where userID = @id 
GO
/****** Object:  StoredProcedure [dbo].[deletCart]    Script Date: 11/7/2020 12:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[deletCart]
(  

   @Product_ID INTEGER  
     
)  
AS  
  
DELETE FROM 
AddToCart WHERE 
AddToCart_id=@Product_ID

GO
/****** Object:  StoredProcedure [dbo].[deleteproducts]    Script Date: 11/7/2020 12:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[deleteproducts]
  (
   @id INTEGER 
  
 
    )
 
AS  
  
  
UPDATE  Product  SET  
product.is_deleted = 1 
WHERE Product.Product_ID = @id

GO
/****** Object:  StoredProcedure [dbo].[InActiveProducts]    Script Date: 11/7/2020 12:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[InActiveProducts]
  (
   @id INTEGER 
  
 
    )
 
AS  
  
  
UPDATE  [Product]  SET  
[Product].is_active = 0 
WHERE [Product].Product_ID  = @id


GO
/****** Object:  StoredProcedure [dbo].[InActiveVendor]    Script Date: 11/7/2020 12:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[InActiveVendor]
  (
   @id INTEGER 
  
 
    )
 
AS  
  
  
UPDATE  users  SET  
users.is_active = 0 
WHERE users.userID  = @id


GO
/****** Object:  StoredProcedure [dbo].[makeorder]    Script Date: 11/7/2020 12:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[makeorder]
  (
   @id INTEGER 
  
 
    )
 
AS  
  
UPDATE  AddToCart  SET  
AddToCart.makeorder = 1 
WHERE AddToCart.user_id_  = @id
GO
/****** Object:  StoredProcedure [dbo].[sp_ActiveProductsAgainstVendorID]    Script Date: 11/7/2020 12:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[sp_ActiveProductsAgainstVendorID] 
@isActive bit,
@sellorID int
 AS  

SELECT p.Product_ID,p.sellorID,p.sellorName,p.is_active,p.retail_price,p.Product_disc,p.stock,p.whole_sale_price,p.imgPath,p.Product_name,br.brand_name,br.brand_ID,c.category_ID,c.category_name   
FROM Brand br
INNER JOIN Product p
    on p.brand_ID = br.brand_ID
INNER JOIN Category c
    on p.category_ID = c.category_ID
	where p.is_active = @isActive and p.sellorID = @sellorID and p.is_deleted  = 0
GO
/****** Object:  StoredProcedure [dbo].[sp_CategryVisProducts]    Script Date: 11/7/2020 12:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[sp_CategryVisProducts]
(
   @id INTEGER 
  
 
    )
 
AS  

SELECT p.Product_ID,p.is_active,p.sellorID,p.sellorName, p.retail_price,p.Product_disc,p.stock,p.whole_sale_price,p.imgPath,p.Product_name,br.brand_name,br.brand_ID,c.category_ID,c.category_name   
FROM Brand br
INNER JOIN Product p
    on p.brand_ID = br.brand_ID
INNER JOIN Category c
    on p.category_ID = c.category_ID
	where p.category_ID = @id and p.is_deleted = 0
GO
/****** Object:  StoredProcedure [dbo].[sp_CategryVisProductsForVendor]    Script Date: 11/7/2020 12:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  PROCEDURE [dbo].[sp_CategryVisProductsForVendor]
(
   @id INTEGER 
  ,@cetegoryID INT
 
    )
 
AS  

SELECT p.Product_ID,p.is_active,p.sellorID,p.sellorName, p.retail_price,p.Product_disc,p.stock,p.whole_sale_price,p.imgPath,p.Product_name,br.brand_name,br.brand_ID,c.category_ID,c.category_name   
FROM Brand br
INNER JOIN Product p
    on p.brand_ID = br.brand_ID
INNER JOIN Category c
    on p.category_ID = c.category_ID
	where p.category_ID = @id AND P.category_ID = @cetegoryID
GO
/****** Object:  StoredProcedure [dbo].[sp_CountofTotalCategory]    Script Date: 11/7/2020 12:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[sp_CountofTotalCategory]
@idAdmin bit,
@id int
AS  

   IF @idAdmin = 1
    BEGIN
        
  SELECT  COUNT(Categoryid) countt,  categoryname 
  FROM orders
  GROUP BY categoryname

    END
    ELSE
    BEGIN
        
  SELECT  COUNT(Categoryid) countt,  categoryname 
  FROM orders
  where venderid = @id
  GROUP BY categoryname

    END

GO
/****** Object:  StoredProcedure [dbo].[sp_CountofTotalProducts]    Script Date: 11/7/2020 12:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[sp_CountofTotalProducts] 
@idAdmin bit,
@id int
AS  

   IF @idAdmin = 1
    BEGIN
        
  SELECT  COUNT(productsid) countt,  prductsname 
  FROM orders
  GROUP BY prductsname


    END
    ELSE
    BEGIN
        
   SELECT  COUNT(productsid) countt,  prductsname 
  FROM orders
  where venderid = @id
  GROUP BY prductsname

    END

GO
/****** Object:  StoredProcedure [dbo].[sp_CountofTotalVendor]    Script Date: 11/7/2020 12:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[sp_CountofTotalVendor]

AS  

SELECT  COUNT(venderid) countt,  venderid 
  FROM orders
  GROUP BY venderid
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteCateBrand]    Script Date: 11/7/2020 12:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_DeleteCateBrand]
@dlt bit,
@type_ int,
@id int
as
IF @type_ = 1 
begin
   delete from Category where category_ID = @id
   -- update Category set isDeleted = 1 where category_ID = @id
END
ELSE
begin         
delete from Brand where brand_ID = @id
--update Brand set isDeleted = 1 where brand_ID = @id
end
GO
/****** Object:  StoredProcedure [dbo].[sp_Products]    Script Date: 11/7/2020 12:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[sp_Products]
(
   @id INTEGER 
  
 
    )
 
AS  

SELECT p.Product_ID,p.is_active,p.retail_price,p.Product_disc,p.stock,p.whole_sale_price,p.imgPath,p.Product_name,br.brand_name,br.brand_ID,c.category_ID,c.category_name   
FROM Brand br
INNER JOIN Product p
    on p.brand_ID = br.brand_ID
INNER JOIN Category c
    on p.category_ID = c.category_ID
	where p.sellorID = @id
GO
/****** Object:  StoredProcedure [dbo].[sp_ProductsAll]    Script Date: 11/7/2020 12:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[sp_ProductsAll] 
@isActive bit
 AS  

SELECT p.Product_ID,p.sellorID,p.sellorName,p.is_active,p.retail_price,p.Product_disc,p.stock,p.whole_sale_price,p.imgPath,p.Product_name,br.brand_name,br.brand_ID,c.category_ID,c.category_name   
FROM Brand br
INNER JOIN Product p
    on p.brand_ID = br.brand_ID
INNER JOIN Category c
    on p.category_ID = c.category_ID
	where p.is_active = @isActive and p.is_deleted = 0
GO
/****** Object:  StoredProcedure [dbo].[sp_ProductsAll_]    Script Date: 11/7/2020 12:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[sp_ProductsAll_]
 
AS  

SELECT p.Product_ID,p.is_active,p.sellorID,p.sellorName,p.retail_price,p.Product_disc,p.stock,p.whole_sale_price,p.imgPath,p.Product_name,br.brand_name,br.brand_ID,c.category_ID,c.category_name   
FROM Brand br
INNER JOIN Product p
    on p.brand_ID = br.brand_ID
INNER JOIN Category c
    on p.category_ID = c.category_ID
	where p.is_deleted = 0
GO
/****** Object:  StoredProcedure [dbo].[sp_sellAcctoCategory]    Script Date: 11/7/2020 12:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  PROCEDURE [dbo].[sp_sellAcctoCategory]

AS  

SELECT   SUM(productsAmount) countt,  categoryname 
  FROM orders
  GROUP BY categoryname
GO
/****** Object:  StoredProcedure [dbo].[sp_sellAcctocategoryforVender]    Script Date: 11/7/2020 12:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  PROCEDURE [dbo].[sp_sellAcctocategoryforVender]
@id int
AS  

  SELECT   SUM(productsAmount) countt,  categoryname 
  FROM orders
  where venderid =@id
  GROUP BY categoryname
GO
/****** Object:  StoredProcedure [dbo].[sp_sellAcctoproducts]    Script Date: 11/7/2020 12:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  PROCEDURE [dbo].[sp_sellAcctoproducts]

AS  

   SELECT   SUM(productsAmount) countt,  prductsname 
  FROM orders
  GROUP BY prductsname
GO
/****** Object:  StoredProcedure [dbo].[sp_sellAcctoproductsforVender]    Script Date: 11/7/2020 12:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  PROCEDURE [dbo].[sp_sellAcctoproductsforVender]
@id int
AS  

  SELECT   SUM(productsAmount) countt,  prductsname 
  FROM orders
  where venderid =@id
  GROUP BY prductsname
GO
/****** Object:  StoredProcedure [dbo].[sp_sellAcctoVendor]    Script Date: 11/7/2020 12:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE  PROCEDURE [dbo].[sp_sellAcctoVendor]

AS  
SELECT  SUM(productsAmount) countt,  venderid 
  FROM orders
  GROUP BY venderid
GO
/****** Object:  StoredProcedure [dbo].[sp_sellAcctoVendorforVender]    Script Date: 11/7/2020 12:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create  PROCEDURE [dbo].[sp_sellAcctoVendorforVender]
@id int
AS  

SELECT  SUM(productsAmount) countt,  [venderoname] 
  FROM orders
  where venderid =@id
  GROUP BY [venderoname]
GO
/****** Object:  StoredProcedure [dbo].[sp_updateProduct]    Script Date: 11/7/2020 12:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[sp_updateProduct]  
(  



   @Product_ID INTEGER,  
   @category_ID INTEGER,  
   @brand_ID INTEGER,  
   @Product_name varchar(50),  
   @Product_disc VARCHAR(100),  
   @whole_sale_price INTEGER,
   @Product_code INTEGER, 
   @retail_price INTEGER,  
   @stock INTEGER,  
   @imgPath VARCHAR(2000),  
   @create_at datetime,  
   @update_at datetime,  
   @is_active bit 

    
)  
AS  
  
UPDATE  Product  SET  
product.brand_ID=@brand_ID,
product.category_ID=@category_ID,
Product.Product_name = @Product_name, 
Product.Product_disc  = @Product_disc,
Product.Product_code  = @Product_code,  
Product.whole_sale_price  = @whole_sale_price,  
Product.retail_price = @retail_price, 
Product.stock  = @stock,
Product.imgPath  = @imgPath,  
Product.create_at  = @create_at , 
Product.update_at = @update_at, 
Product.is_active  = @is_active
WHERE Product.Product_ID  = @Product_ID

GO
/****** Object:  StoredProcedure [dbo].[sp_VendorVisProducts]    Script Date: 11/7/2020 12:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[sp_VendorVisProducts] 
(
   @id INTEGER 
  
 
    )
 
AS  

SELECT p.Product_ID,p.is_active,p.sellorID,p.sellorName, p.retail_price,p.Product_disc,p.stock,p.whole_sale_price,p.imgPath,p.Product_name,br.brand_name,br.brand_ID,c.category_ID,c.category_name   
FROM Brand br
INNER JOIN Product p
    on p.brand_ID = br.brand_ID
INNER JOIN Category c
    on p.category_ID = c.category_ID
	where p.sellorID = @id and p.is_deleted = 0
GO
/****** Object:  StoredProcedure [dbo].[update_brand]    Script Date: 11/7/2020 12:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_brand]
  (
   @brand_ID1 INTEGER,  
   @brand_name varchar(50),  
   @update_at1 datetime 
 
    )
 
AS  
  
UPDATE  Brand  SET  
Brand.brand_name=@brand_name,
Brand.update_at = @update_at1 
WHERE Brand.brand_ID  = @brand_ID1


GO
/****** Object:  StoredProcedure [dbo].[update_category]    Script Date: 11/7/2020 12:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_category]
  (
   @category_ID1 INTEGER,  
   @category1_name varchar(50),  
   @update_at1 datetime 
 
    )
 
AS  
  
UPDATE  Category  SET  
Category.category_name=@category1_name,
Category.update_at = @update_at1 
WHERE Category.category_ID  = @category_ID1


GO
/****** Object:  StoredProcedure [dbo].[updatStock]    Script Date: 11/7/2020 12:24:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[updatStock]
  (
   @id INTEGER ,
   @stock int
  
 
    )
 
AS  
  
UPDATE  [Product]  SET  
[Product].stock = @stock 
WHERE [Product].Product_ID  = @id

GO
USE [master]
GO
