
@{
    ViewBag.Title = "about";
    Layout = "~/Views/Shared/myLayOut.cshtml";
}


  <!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Grocery Store a Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | About Us :: w3layouts</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Grocery Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- font-awesome icons -->
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //font-awesome icons -->
    <!-- js -->
    <script src="js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
    </script>
    <!-- start-smoth-scrolling -->
</head>

<body>
  

   
        <div class="w3l_banner_nav_right">
            <!-- about -->
            <div class="privacy about">
                <h3>About Us</h3>
                <p class="animi">
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                    praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                    excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
                    officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem
                    rerum facilis est et expedita distinctio.
                </p>
                <div class="agile_about_grids">
                    <div class="col-md-6 agile_about_grid_right">
                        <img src="~/Content/images/31.jpg" alt=" " class="img-responsive" />
                    </div>
                    <div class="col-md-6 agile_about_grid_left">
                        <ol>
                            <li>laborum et dolorum fuga</li>
                            <li>corrupti quos dolores et quas</li>
                            <li>est et expedita distinctio</li>
                            <li>deleniti atque corrupti quos</li>
                            <li>excepturi sint occaecati cupiditate</li>
                            <li>accusamus et iusto odio</li>
                        </ol>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <!-- //about -->
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- //banner -->
    <!-- team -->

   
    <div class="team">
        <div class="container">
            <h3>Meet Our Amazing Team</h3>
            <div class="agileits_team_grids">
                <div class="col-md-3 agileits_team_grid">
                    <img src="~/Content/as.png" alt=" " class="img-responsive" />
                    <h4>Manoj Kumar</h4>
                    <p>Manager</p>
                   
                </div>
                <div class="col-md-3 agileits_team_grid">
                    <img src="~/Content/ds.jpg" alt=" " class="img-responsive" />
                    <h4>Mahad Khan</h4>
                    <p>Supervisor</p>
                    
                </div>
                <div class="col-md-3 agileits_team_grid">
                    <img src="~/Content/sdfsdf.jpg" alt=" " class="img-responsive" />
                    <h4>Fariz Ahmed Chodhry</h4>
                    <p>Supervisor</p>
                    
                </div>
               
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
 
 
 
    