
@{
    ViewBag.Title = "sellorscreenbeforeAllow";
    ///Layout = "~/Views/Shared/myLayOut.cshtml";
    Layout = null;
}

<h2>Thank you</h2>
<p>Wait untill you will get an conformation email.</p>
<p>Contact us if you have any query.</p>

