

<div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header">
        @*<h4>Add Category</h4>*@
        <p class="notice">Categories</p>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>


    <!-- Modal body -->
    <div class="modal-body">
        @using (Html.BeginForm("CategoryVisProductsVendor", "my", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @*<form  id="add_products_form">*@


            @*<div class="form-group">
                    <label for="sel1">Brands:</label>
                    <select class="form-control" id="brands" name="brand_ID">
                        @{ foreach (var item in ViewBag.brands)
                            {
                                <option id="brand_@item.brand_ID" value="@item.brand_ID">@item.brand_name</option>
                            }
                        }
                    </select>
                </div>*@
            <div class="form-group">
                <label for="sel1">Categories:</label>
                <select class="form-control" id="categories" name="category_ID">
                    @{ foreach (var item in ViewBag.category)
                        {
                            <option id="category_@item.category_ID" value="@item.category_ID">@item.category_name</option>
                        }
                    }
                </select>
            </div>

            <button type="submit" id="categoryVidProducts_" class="btn btn-primary">Submit</button>
            @*</form>*@
                        }
    </div>

    <!-- Modal footer -->
    <div class="modal-footer">
        <button type="submit" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>

</div>

