
  

@using (Html.BeginForm("CreateUsers", "Accounts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <h4>@ViewBag.pageName</h4>
        @*<form  id="add_products_form">*@
            <div class="form-group">
                <label for="exampleInputEmail1">first_name:</label>
                <input type="text" class="form-control" id="first_name" aria-describedby="emailHelp" name="first_name" placeholder="first_name">                
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">last_name</label>
                <input type="text" class="form-control" id="last_name" name="last_name" placeholder="last_name">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">email:</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">password:</label>
                <input type="text" class="form-control" id="password" name="password" placeholder="password">
            </div>
            <div class="form-group">
                <label for="sel1">role:</label>
                <select class="form-control" id="role_ID" name="role_ID">
                    @{ foreach (var item in ViewBag.role)
                        {
                            <option id="role_@item.role_ID" value="@item.role_ID">@item.role_name</option>
                        }
                    }
                </select>
            </div>

         
         
               
            <button type="submit" id="createUsers"  class="btn btn-primary">Create</button>
        @*</form>*@
                        }
   
