
<div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header">
       
        <p class="notice">Update Brand</p>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>

    
    <!-- Modal body -->
    <div class="modal-body">
@using (Html.BeginForm("update_brand", "My", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input  name="brand_ID" type="hidden" id="id_brand"/>
       
          
            <div class="form-group">
                <label for="exampleInputPassword1">Brand:</label>              
                <div class="checkbox">
                 <input  type="text" name="brand_name" id="brand_field" class="form-control"/>
                </div>
            </div>          
            <button type="submit" id="add_brand_"  class="btn btn-primary">Add</button>
      
                        }
    </div>

    <!-- Modal footer -->
    <div class="modal-footer">
        <button type="submit" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>

</div>
