
<div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header">

        <p class="notice">Update Category</p>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>


    <!-- Modal body -->
    <div class="modal-body">
        @using (Html.BeginForm("update_category", "My", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input name="category_ID" type="hidden" id="id_category" />


            <div class="form-group">
                <label for="exampleInputPassword1">Category:</label>
                <div class="checkbox">
           <input type="text" name="category_name" id="cat_field" class="form-control" />
                </div>
            </div>
            <button type="submit" id="add_category_" class="btn btn-primary">Add</button>

        }
    </div>

    <!-- Modal footer -->
    <div class="modal-footer">
        <button type="submit" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>

</div>
